<div class="modal fade" id="alertModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center border border-primary">
      <div class="modal-body">
        <p class="fs-5 fw-bold mb-4 text-dark alertMessage"></p>
        <div class="d-flex justify-content-center gap-3">
          <button type="button" class="btn px-4 custom-btn alert-confirm-btn">확인</button>
          <button type="button" class="btn px-4 gray-btn" data-bs-dismiss="modal">취소</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="alertModalConfirm" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center border border-primary">
      <div class="modal-body">
        <p class="fs-5 fw-bold mb-4 text-dark alertMessage"></p>
        <div class="d-flex justify-content-center gap-3">
          <button type="button" class="btn px-4 custom-btn alert-confirm-btn">확인</button>
        </div>
      </div>
    </div>
  </div>
</div>